<h1>Add A New Entry </h1>

<%= form_for :entry, url: {action: "create"} do |f| %>
	<%= f.text_field :title, placeholder: "Title" %>
	<br>
	<%= f.text_area :body, placeholder: "Body text" %>

	<%= f.hidden_field :city_id, value: params[:id] %><br>
	<%= f.submit "Submit" %>
<% end %>