<div class="row">
	<div class="col-md-2 col-md-offset-2">
		<p><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
		<p>Current City: <%= @user.current_city %></p>
		<p>Date joined: <%= @user.created_at %></p>
	</div>
	<div class="col-md-6">
			<div class="col-md-12 entry-information" data-id="<%= @entry.id %>">
				<div class="col-xs-12">
					<h2><%= @city.name %></h2>
				</div>
				<div class="col-xs-12">
					<h1><%= @entry.title %></h1>
				</div>
				<div class="col-xs-12">
					<p><%= @entry.body %></p>
				</div>
				<% if @user.id == session[:user_id] %>
					<div class="col-xs-1 col-xs-offset-4">
						<%= button_to "Edit", edit_entry_path, method: "get", class: "btn btn-primary" %>
					</div>
					<div class="col-xs-1 col-xs-offset-1">
						<%= button_to "Delete", url_for(action: :destroy, id: @entry.id),method: :delete, data: {confirm: "Are you sure you want to delete '#{@entry.title}'?"}, class: "btn btn-primary" %>
					</div>
				<% end %>

			</div>
	</div>
</div>