<!-- <h1>Hello, <%= @user.first_name.capitalize %>!</h1>
<ul>
	<li>
		Current City: <%= @user.current_city %>
	</li>
	<li>
		Date joined: <%= @user.created_at %>
	</li>
</ul>

<p>You have <%= @user.entries.count %> entries currently posted on this site.</p>

<ul>
	<% @user.entries.each do |entry| %>
		<li><%= link_to entry.title, entry_path(entry.id) %></li>
	<% end %>
</ul> -->

<div class="col-md-4">
	<p>User content here</p>
	<p>User CONTENT here</p>
	<p>USER content HERE</p>
</div>
<div class="col-md-8">
	<p>Post content here</p>
	<p>Post content here</p>
	<p>Post content here</p>
</div>