<!DOCTYPE html>
<html>
	<head>
	  <title>ProjectVagabond</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="/home">Vagabond</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		      	<li><%= link_to "Cities", cities_path %></li>
		      	<li><%= link_to "Entries", entries_path %></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right nav-pills">
						<% if current_user %>
							<li role="presentation"><%= link_to "Profile", my_profile_path %></li>
							<li role="presentation"><%= link_to "Logout", logout_path %></li>
						<% else %>
							<li role="presentation"><%= link_to "Sign Up", new_user_path %></li>
							<li role="presentation"><%= link_to "Login", login_path %></li>
						<% end %>
						
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

<!--    
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li><a href="#">Library</a></li>
				  <li class="active">Data</li>
				</ol>
-->	

		<% flash.each do |name, msg| %>
		  <p>
		    <small> <%= name.capitalize %>: <%= msg %> </small>
		  </p>
		<% end %>
		
			<%= yield %>	

	</body>
</html>